In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Preprocessed_Data_Cryptos.csv")
dataset.head()

,symbol,Date,Time - 24 Hour Format,Time - 12 Hour Format,volume,open,Close Minus Open,Adj Close Minus Open,Close Minus Adj Close,High Minus Open,High Minus Close,High Minus Adj Close,High Minus Low,close,adj_close,high,low
0,BLY-USD,07-08-2020,00:00:00,12:00 AM,457741.0,0.039345,-0.011361,-0.011361,0.0,0.000035,0.011396,0.011396,0.011970,0.027984,0.027984,0.039380,0.027410
1,BLY-USD,08-08-2020,00:00:00,12:00 AM,339045.0,0.027906,-0.000211,-0.000211,0.0,0.000477,0.000688,0.000688,0.000741,0.027695,0.027695,0.028383,0.027642
2,BLY-USD,09-08-2020,00:00:00,12:00 AM,405214.0,0.027715,0.000071,0.000071,0.0,0.000250,0.000179,0.000179,0.001497,0.027786,0.027786,0.027965,0.026468
3,BLY-USD,10-08-2020,00:00:00,12:00 AM,452310.0,0.027835,-0.000978,-0.000978,0.0,0.001503,0.002481,0.002481,0.002486,0.026857,0.026857,0.029338,0.026852
4,BLY-USD,11-08-2020,00:00:00,12:00 AM,571556.0,0.026889,-0.000296,-0.000296,0.0,0.000368,0.000664,0.000664,0.001220,0.026593,0.026593,0.027257,0.026037

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048449 entries, 0 to 1048448
Data columns (total 17 columns):
symbol                   1048449 non-null object
Date                     1048449 non-null object
Time - 24 Hour Format    1048449 non-null object
Time - 12 Hour Format    1048449 non-null object
volume                   1048449 non-null float64
open                     1048449 non-null float64
Close Minus Open         1048449 non-null float64
Adj Close Minus Open     1048449 non-null float64
Close Minus Adj Close    1048449 non-null float64
High Minus Open          1048449 non-null float64
High Minus Close         1048449 non-null float64
High Minus Adj Close     1048449 non-null float64
High Minus Low           1048449 non-null float64
close                    1048449 non-null float64
adj_close                1048449 non-null float64
high                     1048449 non-null float64
low                      1048449 non-null float64
dtypes: float64(13), object(4)
memory usage: 136.0+ MB

In [4]:
#Quan=["ssc_p","hsc_p","etest_p","degree_p","mba_p","salary"]
#Qual=["gender","ssc_b","hsc_b","degree_t"]

In [5]:
dataset.columns

Index(['symbol', 'Date', 'Time - 24 Hour Format', 'Time - 12 Hour Format',
       'volume', 'open', 'Close Minus Open', 'Adj Close Minus Open',
       'Close Minus Adj Close', 'High Minus Open', 'High Minus Close',
       'High Minus Adj Close', 'High Minus Low', 'close', 'adj_close', 'high',
       'low'],
      dtype='object')

In [6]:
for columnName in dataset.columns:
    print(columnName)

symbol
Date
Time - 24 Hour Format
Time - 12 Hour Format
volume
open
Close Minus Open
Adj Close Minus Open
Close Minus Adj Close
High Minus Open
High Minus Close
High Minus Adj Close
High Minus Low
close
adj_close
high
low

In [7]:
if(dataset["open"].dtype=='O'):
    print("qual")
else:
    print("quan")

quan

In [8]:
quan=[]
qual=[]

for columnName in dataset.columns:
    #print(columnName)
    if(dataset[columnName].dtype=='O'):
        #print("qual")
        qual.append(columnName)
    else:
        #print("quan")
        quan.append(columnName)

In [9]:
quan

['volume',
 'open',
 'Close Minus Open',
 'Adj Close Minus Open',
 'Close Minus Adj Close',
 'High Minus Open',
 'High Minus Close',
 'High Minus Adj Close',
 'High Minus Low',
 'close',
 'adj_close',
 'high',
 'low']

In [10]:
qual

['symbol', 'Date', 'Time - 24 Hour Format', 'Time - 12 Hour Format']

In [11]:
def quanQual(dataset):
    
    quan=[]
    qual=[]
    
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [12]:
quanQual(dataset)

(['volume',
  'open',
  'Close Minus Open',
  'Adj Close Minus Open',
  'Close Minus Adj Close',
  'High Minus Open',
  'High Minus Close',
  'High Minus Adj Close',
  'High Minus Low',
  'close',
  'adj_close',
  'high',
  'low'],
 ['symbol', 'Date', 'Time - 24 Hour Format', 'Time - 12 Hour Format'])

In [13]:
quan,qual = quanQual(dataset)

In [14]:
quan

['volume',
 'open',
 'Close Minus Open',
 'Adj Close Minus Open',
 'Close Minus Adj Close',
 'High Minus Open',
 'High Minus Close',
 'High Minus Adj Close',
 'High Minus Low',
 'close',
 'adj_close',
 'high',
 'low']

In [15]:
qual

['symbol', 'Date', 'Time - 24 Hour Format', 'Time - 12 Hour Format']